<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prêt à dépenser</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="logo-container">
            <img src="static/logo.png" alt="Prêt à dépenser">
        </div>
        <div class="search-bar">
            <form action="/predict" method="get">
                <input type="search" name="id" autocomplete="true" autofocus>
                <button type="submit">Check Decision</button>
            </form>
        </div>
    </div>
</body>

</html>